.angular-google-map-container {
	min-height: 100vh;
	width: 100%;
}

table.info-window {
	border-collapse: separate;
}

table.info-window td, table.info-window th {
	padding: 5px;
}

table.info-window .aircraft-type {
	background-color: #DCEDFC;
}

table.info-window th.b-right {
	border-right: 1px solid black;
}

table.info-window .center {
	text-align: center;
}
