<div class="angular-google-map-container" data-ng-controller="GoogleMapCtrl"> 
	<ui-gmap-google-map center="map.center" events="map.events" zoom="map.zoom" options="map.options">
	</ui-gmap-google-map>
</div> 
