<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>RealTimeFlight</title>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp3vI8nhY9T7LhYyxwELFo1LO-iTdveQ4&libraries=geometry&language=en"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
</head>

<body data-ng-app="myApp">

    <nav-layout></nav-layout>

   

	<main>
		<google-map></google-map>
	</main>
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
  ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--<script src="js/angular-google-maps.min.js"></script>
	<script src="js/angular-google-maps-street-view.min.js"></script>
	<script src="js/angular-simple-logger.min.js"></script>-->
</body>
