/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 55px;
    left: 0;
    background-color: #343a40; /* Gris*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

ul.sidenav-list {
    list-style-type: none;
    padding-left: 0;
}
.sidenav-item{
    padding: 5px;
}

.sidenav-title{
    padding: 0px 8px 8px 10px;
    color: #c7c7c7;
    display: block;
    width: 100%;
    transition: 0.3s
}

.sidenav-maintitle{
    width: 100%;
    text-align: center;
    /*padding: 0px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 35px;
    color: #e2e2e2;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
