<div data-ng-controller="StatsCtrl">
   <!--<p> test {{statsShowed}} </p> -->
    <div data-ng-if="statsShowed" class="">
        <div id="mySidenav" class="sidenav">
            <h3 class="sidenav-maintitle">Stats </h3>
            <div data-ng-if="displayNone" class="">
            </div>
            <div data-ng-if="displayFrom" class="">
                <h5 class="sidenav-title" href="#" >From :</h5>
                <h6 class="sidenav-title"> - {{from}}</h6>
                <ul class="sidenav-list mr-auto">
                    <li class="sidenav-item">
                        <button class="btn btn-outline-secondary btn-block" ng-click="showStatsFromToday()">Today</button>
                    </li>
                    <li class="sidenav-item">
                        <button class="btn btn-outline-secondary btn-block" ng-click="showStatsFromWeek()">This week</button>
                    </li>
                    <li class="sidenav-item">
                        <button class="btn btn-outline-secondary btn-block" ng-click="showStatsFromMonth()">This month</button>
                    </li>
                </ul>
            </div>
            <div data-ng-if="displayTo" class="">
                <h5 class="sidenav-title" href="#" >To :</h5>
                <h6 class="sidenav-title"> - {{to}}</h6>
                <ul class="sidenav-list mr-auto">
                    <li class="sidenav-item">
                        <button class="btn btn-outline-secondary btn-block" ng-click="showStatsToToday()">Today</button>
                    </li>
                    <li class="sidenav-item">
                        <button class="btn btn-outline-secondary btn-block" ng-click="showStatsToWeek()">This week</button>
                    </li>
                    <li class="sidenav-item">
                        <button class="btn btn-outline-secondary btn-block" ng-click="showStatsToMonth()">This month</button>
                    </li>
                </ul>
            </div>

            <div data-ng-if="displayClear" class="">
                <button class="btn btn-outline-secondary btn-block" ng-click="clearStats()">Clear All</button>
            </div>
        </div>

    </div>
</div>
