<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" ng-controller="NavCtrl as ctrl">
		<span class="navbar-brand">{{title}}</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-default" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbars-default">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ng-click="showStats()" href="#">Stats
						<span class="sr-only" >(current)</span>
					</a>
				</li>
				<!--<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">Dropdown</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</li>  -->
	</ul>
	<form class="form-inline my-2 my-lg-0">
		<label for="searchFlight"  class="text-muted">Search  </label>
		<input class="form-control mr-sm-2" type="text" name="from" placeholder="From" value="" aria-label="from" list="planes" data-ng-model="from"/>
		<input class="form-control mr-sm-2" data-ng-model="to" name ="to" type="text" placeholder="To" value="" aria-label="to" list="planes"/>
		<datalist id="planes">
			<option data-ng-repeat="item in planeslist" value="{{item}}" />

		</datalist>
		<button class="btn btn-success my-2 my-sm-0" ng-click="search(from,to)" type="submit">Search</button>
	</form>
</div>

<stats-layout></stats-layout>
</nav>
